@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

:root{
  --voilet:#3f51b5;
  --white:#fff;
  --pink:#ff4081;
  --orange:#f44336;
  --black:#000;
}
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  /* outline:red solid 1px; */
}
html{
  font-family: Roboto,sans-serif;
}
h1{
  text-decoration: underline;
  color: #f44336;
  text-align: center;
  margin: 2rem;
}

.container{
  margin:0 auto;
  width: 50%;
  border: 2px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    line-height: 1.6rem;
    min-height: 50vh;
  }
   
  .text1, .text2{
    font-size: 1rem;
    position: relative;
  }
  .badge1{
    background-color: var(--voilet);
    color:var(--white);
    font-weight: bold;
    padding:0.2rem 0.6rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    position: absolute;
    bottom:17px;
    right:-17px;
  }

  .badge2{
      font-size:1.8rem;
    background-color: var(--voilet);
    color:var(--white);
    font-weight: bold;
    padding:0.2rem 0.4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    bottom:8px;
    right:-14px;
  }

  .btn1{
      cursor: pointer;
    padding:0.7rem;
    background-color: var(--voilet);
    color:var(--white);
    border: none;
    border-radius: 8%;
    box-shadow:0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    position: relative;
    margin-left: 0.6rem;
  }
  .btn-text1, .btn-text2{
    font-weight: bold;
  }

  .badge3{
    background-color: var(--pink);
    color:var(--white);
    font-weight: bold;
    height: 1.3rem;
    width: 1.3rem;
    padding:0.2rem 0.3rem;
    border-radius: 50%;
  
    position: absolute;
    left:-0.7rem;
    top: -0.6rem;
  }
  
  .btn2{
      cursor: pointer;
      margin-left: 0.6rem;
      padding: 0.7rem;
      background: var(--white);
      border: brown;
      box-shadow:0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
      position: relative;
  }
  .toggle8, .toggle{
    display: none;
  }
  .badge4{
    background: var(--voilet);
    color: var(--white);
    font-weight: bold;
    height: 1.3rem;
    width: 1.3rem;
    padding:0.2rem 0.3rem;
    border-radius: 50%;
    position: absolute;
    top:-0.5rem
  }
  .home-icon{
    margin-left: 0.2rem;
    position: relative;
  }
  .badge5{
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    
    background-color: var(--pink);
    color: var(--white);
    font-weight: bold;
    height: 1.5rem;
    width:1.5rem;
    padding: 0.3rem 0.15rem;
    border-radius: 50%;
  
    position: absolute;
    top:-0.9rem;
    right:-0.4rem;
    
    
  }
  
  .btn1:hover{
    background: brown;
  }
  
  