@import url("./style.css");
@import url("./style2.css");

body{
    font-family:'Gill Sans';
    cursor: pointer;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

h1{
    text-decoration: underline;
    color: brown;
    text-align: center;
    margin: 1.2rem;
}