*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2{
    margin: 2rem;
    color: blueviolet;
    text-decoration: underline;
    font-size: 1.5rem;
}
.container-drawer{
    display: flex;
    justify-content: space-between;
    border: 2px solid saddlebrown;
    margin: auto;
    width: 50%;
    height: 450px;
    /* padding: 1.2rem; */
    overflow-y: scroll;
}
.drawer{
    height: 350px;
    overflow-y: scroll;
    width: 15%;

}
ul{
    list-style: none;

}
.drawer-header{
    margin: 1rem;
    font-size: 1.2rem;
}

button{
    /* margin: 1rem; */
    border: none;
    outline: none;
    font-size: 1.1rem;
    background: white;
    margin: 0.8rem;
}
i{
    margin-right: 0.5rem;
    font-size: 1.3rem;

}

.header-title{
    padding: 1rem;
  background: #003049;
  color: white;
  outline: none;
  font-size: 1.3rem;
}
article{
    margin: 1rem;
    font-size: 1rem;
}

/* main{
    overflow-y: scroll;
} */