*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Roboto, sans-serif;
}
.tab::-webkit-scrollbar {
    display: none;
  }

  h1{
    color:#0081a7;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 4rem;
  }

.scroll-tab,
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  position:relative;
}
div.scroll-tab{
    overflow-x: scroll;
  /* white-space: nowrap; */
  /* margin: 0.5rem; */
  max-width: 100%
    /* scrollbar-width: none;
  scroll-behavior: smooth; */
}

a {
  text-decoration: none;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  border: 2px solid whitesmoke;
  display: inline-block;

}
a:hover {
  background:#e0aaff;
  border: 1px solid white;
  border-radius: 2px;
}
a:focus{
    border-bottom:4px solid #0081a7;
}
/* .slider {
  background: #0081a7;
  bottom: 0;
  display: block;
  height: 5px;
  position: absolute;
  transition: left 0.4s ease-out;
  width: 5rem;
  /* width: calc(100% / 4); */
/* } */


