html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

  h1{
    color:#0081a7;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 4rem;
  }

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
  position:relative;
  max-width: 610px;

}
.tab.scroll{
    overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 75%;
  margin: 0 auto;
}
.tab.scroll::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  border: 2px solid whitesmoke;
  display: inline-block;
}
.tab-link{
  width: calc(100% / 4);
  text-transform: uppercase;

}

.btn-tab-scroll {
  width: 100px;
  flex-shrink: 0;
}


a:hover {
  background:#e0aaff;
  border: 1px solid white;
  border-radius: 2px;
}
/* a:focus{
    border-bottom:4px solid #0081a7;
} */
.slidder,.slider-scroll{
  background: #0081a7;
  bottom: 0;
  height: 5px;
  position: absolute;
  transition: all 100ms linear;
  width: 5rem;
  
}

.slidder{
  width: calc(100% / 4);
}

.slider-scroll{
    width: 100px;
}

.active {
  background-color: #e9ddf9;
  color: #6200ee;
  border-radius: 5px 5px 0 0;
  transition: all 100ms linear;
}
