* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: Roboto, sans-serif;
}
body{
   margin: 3rem;
   height: 100vh;
    font-weight: 500;
}

.chips_container{
    display: flex;
    flex-direction: column;
    color: brown;
    font-size: 2rem;
    margin:2rem;
    border-bottom: 2px solid red;

}

.chips{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0.5rem 0;
}

.chip{
    padding: 0.75rem;
    background-color: rgba(29, 201, 201, 0.507);
    border-radius: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    display: flex;
}

.chip:hover{
    background-color: rgba(190, 16, 16, 0.719);
    transition: 0.2s;
}

.chip p{
    color: black;
    margin-right: 0.5rem;
}

.chip i{
    cursor: pointer;
    color: black;
}

input{
    outline: none;
    border:none;
    flex: 1;
    min-width: 100px;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
}